h1 {
  text-align: center;
  padding: 2%;
  margin-bottom: 10%;
  color: rgb(245, 173, 143);
}

.main {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../../assets/img/to-learn-g9d4cd6e27_1920.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  
  
  

}
.bg-white {
  background-color: #fff;
}

.dropbtn {
   color: #000;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}


.dropdown {
  position: relative;
  display: inline-block;
  

}


.dropdown-content {
  display: none;
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}


.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {

  background-color: rgb(49, 49, 247);
  color: #fff
}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #fff;
}



.style {
  margin: 2% 4%;
  padding: 2%;
  color: #000;
  border: none;
  border-radius: 10px;
  font-size: 1.0rem;
  box-shadow: 0px 0px 10px;
  /* justify-content: center; */
}

.style:hover {
  background-color: rgb(49, 49, 247);
  color: #fff;

}

.opt {
color: black;

}

/* @media(max-width:420px){
.main{
  height:100v;
}
} */

